<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jiayang.com.mvpsamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.view.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".home.view.EventBusActivity"/>
        <activity android:name=".fragment.view.EventBusFragmentActivity"/>
        <activity android:name=".outteradapter.view.AdapterActivity"/>
        <activity android:name=".login.view.LoginActivity"/>
        <activity android:name=".login.view.LoginOptimizeActivity"/>
    </application>

</manifest>